@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
}

header#header {
  background: #a8c0ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#3f2b96), to(#a8c0ff));
  background: linear-gradient(to top, #3f2b96, #a8c0ff);
  min-height: 40vh;
  margin: 4px;
  border-radius: 6px;
  position: relative;
}

header#header img.header_image {
  width: 25%;
  bottom: 0;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

header#header a.logo {
  text-decoration: none;
  color: #222;
  font-weight: 900;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 15px;
}

header#header a.logo img {
  width: 35px;
  height: 35px;
}

header#header a.logo:hover {
  color: #444;
}

@media (max-width: 768px) {
  header#header {
    min-height: 70vh;
  }
}

form#formulario_registro {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 35px 25px 15px;
  position: absolute;
  top: 10%;
  right: 15%;
}

form#formulario_registro h3 {
  font-size: 30px;
  font-weight: 800;
}

form#formulario_registro p {
  font-weight: 600;
  color: #8f8a8a;
  margin-bottom: 25px;
  font-size: 15px;
}

form#formulario_registro div.form_field {
  width: 100%;
  margin-bottom: 20px;
}

form#formulario_registro div.form_field input {
  width: 100%;
  border: 1px solid transparent;
  padding: 12px 14px;
  background-color: #eeeeee;
  border-radius: 6px;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  outline: 0;
}

form#formulario_registro div.form_field input::-webkit-input-placeholder {
  color: #b9bbbe;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

form#formulario_registro div.form_field input:-ms-input-placeholder {
  color: #b9bbbe;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

form#formulario_registro div.form_field input::-ms-input-placeholder {
  color: #b9bbbe;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

form#formulario_registro div.form_field input::placeholder {
  color: #b9bbbe;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

form#formulario_registro div.form_field input:focus {
  border-color: #3f2b96;
  background-color: #ffffff;
}

form#formulario_registro div.form_field input.error {
  border-color: #f14668;
}

form#formulario_registro div.form_field input.error::-webkit-input-placeholder {
  color: #f14668;
}

form#formulario_registro div.form_field input.error:-ms-input-placeholder {
  color: #f14668;
}

form#formulario_registro div.form_field input.error::-ms-input-placeholder {
  color: #f14668;
}

form#formulario_registro div.form_field input.error::placeholder {
  color: #f14668;
}

form#formulario_registro label.form_field_title {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}

form#formulario_registro .genero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form#formulario_registro .genero_container .radio_option {
  margin: 0 25px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form#formulario_registro .genero_container .radio_option label,
form#formulario_registro .genero_container .radio_option input {
  font-weight: 600;
  cursor: pointer;
}

form#formulario_registro .genero_container .radio_option label {
  margin-left: 3px;
}

@media (max-width: 576px) {
  form#formulario_registro .genero_container .radio_option {
    margin: 5px 10px 10px 0;
  }
  form#formulario_registro .genero_container .radio_option label {
    font-size: 13px;
    margin-left: 3px;
  }
}

form#formulario_registro small.terminos {
  margin-top: 15px;
}

form#formulario_registro small.terminos a {
  text-decoration: none;
  color: #a8c0ff;
}

form#formulario_registro small.terminos a:hover {
  text-decoration: underline;
}

form#formulario_registro button#registro_btn {
  width: 100%;
  padding: 14px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  background-color: #3f2b96;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  outline: 0;
  position: relative;
}

form#formulario_registro button#registro_btn:hover {
  background-color: #4e35ba;
}

form#formulario_registro button#registro_btn i {
  display: none;
  margin-left: 20px;
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
}

form#formulario_registro button#registro_btn.loading i {
  display: inline-block;
}

form#formulario_registro button#registro_btn.disabled {
  background-color: #b3a7e6;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  form#formulario_registro {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

form#formulario_registro .messages_container {
  display: none;
  border-radius: 4px;
  margin-top: 15px;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid transparent;
}

form#formulario_registro .messages_container.invalid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #f14668;
  background-color: #feecf0;
}

form#formulario_registro .messages_container.invalid small li {
  color: #cc0f35;
  font-weight: 700;
  margin: 5px 0;
  list-style: none;
}

form#formulario_registro .messages_container.valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #48c78e;
  background-color: #effaf5;
}

form#formulario_registro .messages_container.valid small li {
  color: #257953;
  font-weight: 700;
  margin: 5px 0;
  list-style: none;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */